<div class="container text-center mt-4">
  <h1>😊😊Test your knowledge😊😊</h1>
  <app-game-control></app-game-control>
  <button class="btn btn-success m-2" (click)="shomsg()">tste</button>

  <div class="row mt-4">
    <div class="col">
      <h2>Odd Numbers</h2>

      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [odenumber]="oddNumber"
      ></app-odd>
    </div>
    <div class="col">
      <h2>Even Numbers</h2>
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [number]="evenNumber"
      ></app-even>
    </div>
  </div>
  <div class="row mt-4" *ngIf="shogoodmasge">
    <app-gooomseg></app-gooomseg>
  </div>
</div>
